.benefits-pop-up {
    background-color: #ffffff;
    border-radius: 25px;
    height: 1515px;
    overflow: hidden;
    width: 560px;
    position: relative;
    left: 30%;
    }
    
    .benefits-pop-up .group {
      height: 1421px;
      left: 36px;
      position: relative;
      top: 39px;
      width: 489px;
    }
    
    .benefits-pop-up .div {
      height: 109px;
      left: 0;
      position: absolute;
      top: 0;
      width: 246px;
    }
    
    .benefits-pop-up .vector {
      height: 25px;
      left: 0;
      position: absolute;
      top: 0;
      width: 25px;
    }
    
    .benefits-pop-up .text-wrapper {
      color: #000000;
      font-family: "Inter-Bold", Helvetica;
      font-size: 34px;
      font-weight: 700;
      height: 66px;
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 43px;
      width: 244px;
    }
    
    .benefits-pop-up .group-2 {
      height: 30px;
      left: 0;
      position: absolute;
      top: 114px;
      width: 486px;
    }
    
    .benefits-pop-up .line {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 29px;
      width: 486px;
    }
    
    .benefits-pop-up .group-3 {
      height: 24px;
      left: 0;
      position: absolute;
      top: 0;
      width: 470px;
    }
    
    .benefits-pop-up .text-wrapper-2 {
      color: #000000;
      font-family: "Inter-Bold", Helvetica;
      font-size: 12px;
      font-weight: 700;
      height: 24px;
      left: 0;
      letter-spacing: 0.6px;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 127px;
    }
    
    .benefits-pop-up .text-wrapper-3 {
      color: #494949;
      font-family: "Inter-Regular", Helvetica;
      font-size: 12px;
      font-weight: 400;
      height: 24px;
      left: 149px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 38px;
    }
    
    .benefits-pop-up .text-wrapper-4 {
      color: #494949;
      font-family: "Inter-Regular", Helvetica;
      font-size: 12px;
      font-weight: 400;
      height: 24px;
      left: 320px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 92px;
    }
    
    .benefits-pop-up .text-wrapper-5 {
      color: #494949;
      font-family: "Inter-Regular", Helvetica;
      font-size: 12px;
      font-weight: 400;
      height: 24px;
      left: 434px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 26px;
    }
    
    .benefits-pop-up .grocery-more {
      color: #494949;
      font-family: "Inter-Regular", Helvetica;
      font-size: 12px;
      font-weight: 400;
      height: 24px;
      left: 209px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 89px;
    }
    
    .benefits-pop-up .group-4 {
      height: 163px;
      left: 0;
      position: absolute;
      top: 157px;
      width: 488px;
    }
    
    .benefits-pop-up .img {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 162px;
      border-top: 1px solid #ccc;
      width: 100%;
      margin: 20px 0;
    }
    
    .benefits-pop-up .overlap-group {
      height: 144px;
      left: 0;
      position: absolute;
      top: 0;
      width: 486px;
    }
    
    .benefits-pop-up .group-5 {
      height: 53px;
      left: 0;
      position: absolute;
      top: 0;
      width: 268px;
    }
    
    .benefits-pop-up .text-wrapper-6 {
      color: #000000;
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 22px;
      font-weight: 600;
      height: 53px;
      left: 45px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 221px;
    }
    
    .benefits-pop-up .group-6 {
      height: 45px;
      left: -4px;
      position: absolute;
      top: 6px;
      width: 43px;
    }
    
    .benefits-pop-up .p {
      color: #494949;
      font-family: "Poppins-Medium", Helvetica;
      font-size: 14px;
      font-weight: 500;
      height: 101px;
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 43px;
      width: 486px;
    }
    
    .benefits-pop-up .group-7 {
      height: 161px;
      left: 0;
      position: absolute;
      top: 350px;
      width: 488px;
    }
    
    .benefits-pop-up .line-2 {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 162px;
      border-top: 1px solid #ccc;
      width: 100%;
      margin: 20px 0;
    }
    
    .benefits-pop-up .group-8 {
      height: 53px;
      left: 0;
      position: absolute;
      top: 0;
      width: 123px;
    }
    
    .benefits-pop-up .text-wrapper-7 {
      color: #000000;
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 22px;
      font-weight: 600;
      height: 53px;
      left: 45px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 76px;
    }
    
    .benefits-pop-up .img-wrapper {
      background-color: #ecfbfb;
      border-radius: 17.5px;
      box-shadow: 0px 4px 4px #00000040;
      height: 35px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 35px;
    }
    
    .benefits-pop-up .take-away-food {
      height: 27px;
      left: 4px;
      position: absolute;
      top: 6px;
      width: 27px;
    }
    
    .benefits-pop-up .overlap {
      height: 435px;
      left: 0;
      position: absolute;
      top: 541px;
      width: 490px;
    }
    
    .benefits-pop-up .group-9 {
      height: 232px;
      left: 0;
      position: absolute;
      top: 0;
      width: 488px;
    }
    
    .benefits-pop-up .overlap-2 {
      height: 168px;
      left: 0;
      position: absolute;
      top: 64px;
      width: 486px;
    }
    
    .benefits-pop-up .line-3 {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 162px;
      border-top: 1px solid #ccc;
      width: 100%;
      margin: 20px 0;
    }
    
    .benefits-pop-up .text-wrapper-8 {
      color: #494949;
      font-family: "Poppins-Medium", Helvetica;
      font-size: 14px;
      font-weight: 500;
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 486px;
    }
    
    .benefits-pop-up .group-10 {
      height: 53px;
      left: 0;
      position: absolute;
      top: 0;
      width: 224px;
    }
    
    .benefits-pop-up .grocery-more-2 {
      color: #000000;
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 22px;
      font-weight: 600;
      height: 53px;
      left: 49px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 173px;
    }
    
    .benefits-pop-up .group-11 {
      background-color: #ecfbfb;
      border-radius: 17.5px;
      box-shadow: 0px 4px 4px #00000040;
      height: 35px;
      left: 0;
      position: absolute;
      top: 7px;
      width: 35px;
    }
    
    .benefits-pop-up .vegetarian-food {
      height: 27px;
      left: 2px;
      position: absolute;
      top: 6px;
      width: 27px;
    }
    
    .benefits-pop-up .group-12 {
      height: 203px;
      left: 0;
      position: absolute;
      top: 232px;
      width: 490px;
    }
    
    .benefits-pop-up .overlap-3 {
      height: 135px;
      left: 0;
      position: absolute;
      top: 68px;
      width: 488px;
    }
    
    .benefits-pop-up .line-4 {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 162px;
      border-top: 1px solid #ccc;
      width: 100%;
      margin: 20px 0;
    }
    
    .benefits-pop-up .text-wrapper-9 {
      color: #494949;
      font-family: "Poppins-Medium", Helvetica;
      font-size: 14px;
      font-weight: 500;
      left: 2px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 486px;
    }
    
    .benefits-pop-up .div-wrapper {
      height: 53px;
      left: 46px;
      position: absolute;
      top: 0;
      width: 177px;
    }
    
    .benefits-pop-up .text-wrapper-10 {
      color: #000000;
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 22px;
      font-weight: 600;
      height: 53px;
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 175px;
    }
    
    .benefits-pop-up .vector-2 {
      height: 21px;
      left: 10px;
      position: absolute;
      top: 14px;
      width: 21px;
    }
    
    .benefits-pop-up .group-13 {
      height: 205px;
      left: 2px;
      position: absolute;
      top: 993px;
      width: 489px;
    }
    
    .benefits-pop-up .overlap-4 {
      height: 135px;
      left: 0;
      position: absolute;
      top: 70px;
      width: 487px;
    }
    
    .benefits-pop-up .line-5 {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 162px;
      border-top: 1px solid #ccc;
      width: 100%;
      margin: 20px 0;
    }
    
    .benefits-pop-up .text-wrapper-11 {
      color: #494949;
      font-family: "Poppins-Medium", Helvetica;
      font-size: 14px;
      font-weight: 500;
      left: 1px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 486px;
    }
    
    .benefits-pop-up .group-14 {
      height: 53px;
      left: 50px;
      position: absolute;
      top: 0;
      width: 177px;
    }
    
    .benefits-pop-up .house-fill-wrapper {
      background-color: #ecfbfb;
      border-radius: 17.5px;
      box-shadow: 0px 4px 4px #00000040;
      height: 35px;
      left: 1px;
      position: absolute;
      top: 9px;
      width: 35px;
    }
    
    .benefits-pop-up .house-fill {
      height: 25px;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 25px;
    }
    
    .benefits-pop-up .group-15 {
      height: 206px;
      left: 0;
      position: absolute;
      top: 1215px;
      width: 489px;
    }
    
    .benefits-pop-up .overlap-5 {
      height: 126px;
      left: 0;
      position: absolute;
      top: 80px;
      width: 487px;
    }
    
    .benefits-pop-up .line-6 {
      height: 1px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 162px;
      border-top: 1px solid #ccc;
      width: 100%;
      margin: 20px 0;
    }
    
    .benefits-pop-up .group-16 {
      height: 50px;
      left: 49px;
      position: absolute;
      top: 0;
      width: 191px;
    }
    
    .benefits-pop-up .text-wrapper-12 {
      color: #000000;
      font-family: "Poppins-SemiBold", Helvetica;
      font-size: 22px;
      font-weight: 600;
      height: 50px;
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
      width: 189px;
    }
    
    .benefits-pop-up .vector-3 {
      height: 21px;
      left: 10px;
      position: absolute;
      top: 14px;
      width: 22px;
    }
    